@import '../styles/variables.scss';
@import '../styles/light-theme.scss';
@import '../styles/dark-theme.scss';
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.min.css');
body {
  // font-family: 'NanumSquareRound', sans-serif;
  font-family: 'NanumSquareRound', Helvetica, Arial, sans-serif;
  // font-family: NanumSquareRound, BlinkMacSystemFont, 'Helvetica Neue',
  //   'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', 나눔고딕,
  //   'Nanum Gothic', 'Noto Sans KR', 'Noto Sans CJK KR', arial, 돋움, Dotum,
  //   Tahoma, Geneva, sans-serif;
  background-color: $light-background-color;
  -webkit-text-size-adjust: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
  h1 {
    font-family: 'Gugi', sans-serif;
    font-weight: 500;
    border-bottom: 17px solid #ffd816;
  }
  h2 {
    margin-top: 1.5em;
    margin-bottom: 0px;
    font-size: 1.5em;
    letter-spacing: -1px;
    border-bottom: transparent !important;
  }
  h3 {
    font-size: 1.25em;
    letter-spacing: -1px;
  }

  td:first-child {
    text-align: right !important;
    font-weight: bolder !important;
  }

  th {
    padding: 0 !important;
  }

  code {
    font-weight: 500 !important;
  }
}
